<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Muhammad Usman</title>
      <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/static/css/style.min.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet" />
   </head>
   <body class="light-theme">
      <header>
         <div class="container">
            <nav class="navbar">
               <a href="#">
               <img src="/static/images/logo-light.svg" alt="Devblog's logo" width="150" height="40" class="logo-light" />
               <img src="/static/images/logo-dark.svg" alt="Devblog's logo" width="150" height="40" class="logo-dark" />
               </a>
               <div class="btn-group">
                  <button class="theme-btn theme-btn-mobile light">
                     <ion-icon name="moon" class="moon"></ion-icon>
                     <ion-icon name="sunny" class="sun"></ion-icon>
                  </button>
               </div>
               <div class="flex-wrapper">
                  <button class="theme-btn theme-btn-desktop light">
                     <ion-icon name="moon" class="moon"></ion-icon>
                     <ion-icon name="sunny" class="sun"></ion-icon>
                  </button>
               </div>
            </nav>
         </div>
      </header>
      <main>
         <div class="hero">
            <div class="container">
               <div class="left">
                  <h1 class="h1">Hi, I'm <b>Muhamamd&nbsp;Usman</b>.</h1>
               </div>
               <div class="right">
                  <div class="pattern-bg"></div>
                  <div class="img-box">
                     <img src="/static/images/author-removebg-preview.png" alt="Julia Walker" class="hero-img" />
                     <div class="shape shape-1"></div>
                     <div class="shape shape-2"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="main">
            <div class="container">
               <div class="blog">
                  <h2 class="h2">Latest Blog Post</h2>
                  <div class="blog-card-group">
                     {% for i in blogs %}
                     <div class="blog-card">
                        <div class="blog-card-banner">
                           <img src="{{ i.img_source }}" width="250" class="blog-banner-img" />
                        </div>
                        <div class="blog-content-wrapper">
                           <h3><a href="{{ i.link_to }}" target="__blank__" class="h3">{{ i.name }}</a></h3>
                           <div class="wrapper-flex">
                              <div class="profile-wrapper">
                                 <img src="/static/images/author.jpg" alt="Julia Walker" width="50" />
                              </div>
                              <div class="wrapper">
                                 <p class="h4">Muhammad Usman</p>
                                 <p class="text-sm">
                                    <time>{{ i.created_at }}</time>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </main>
      <script src="/static/js/script.min.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   </body>
</html>